h4 {
    font-size: 125%;
}

h6 {
    font-size: 100%;
}

body {
    font-family: sans-serif;
    background-color: #fbfbfb;
    text-align: center;
    color: #373737;
    font-size: 133%;
}

a:link, a:visited, .phone {
    color: steelblue;
}

a:hover, a:active {
    color: firebrick;
}

.headline {
    color: #16519f;
}

.current {
    color: steelblue;
}

.past {
    color: rebeccapurple;
}

.education {
    color: #373737;
}